<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}/assets/ico/favicon.png">

    <title>MTE - Sistemi per Marcatura Laser</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}/dist/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}/assets/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
{% include "menu.html" %}

{% block content%}

{% endblock content %}







  <!-- FOOTER -->
<div class = "container">
      <footer>
       <p></p>
       <p></p>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 MTE srl - P.iva:  IT 01818610980. &middot; <a href="mailto: info@mte.it">info@mte.it</a> &middot; <a href="http://www.mwa.it">Designed by Mediacom</a></p>
<p class="pull-right"><a href="#">Powered by Django</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}/assets/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}/dist/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/assets/js/holder.js"></script>
  </body>
</html>
