<div class="container">
<div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
{% for page in page_list %}
        <li data-target="#myCarousel" data-slide-to="{{ page.id}} "></li>
{% endfor %}
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ STATIC_URL }}/img/01.jpg" data-src="{{ STATIC_URL }}/img/01.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
            <p>&raquo;</p>
            <p></p>
            </div>
          </div>
        </div>
{% for page in page_list %}
{% load cropping %}
        <div class="item">
          <img src="{% cropped_thumbnail page "croppingslide" %}" data-src="{% cropped_thumbnail page "croppingslide" %}" alt="Second Slide">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
{% endfor %}
</div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
 </div><!-- /.carousel -->
