  <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="./img/compact.jpg" data-src=".img/compact.jpg/140x140" alt="Generic placeholder image">
          <h2>CompactMark</h2>
          <p>Compatta solo nelle dimensioni ma grande nelle prestazioni, la CompactMark è un vero centro di marcatura laser. Realizzata completamente in acciaio saldato e lavorato con precisione...</p>
          <p><a class="btn btn-default" href="altro.html">Continua... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="./img/micro.png" data-src="./img/micro.png/140x140" alt="Generic placeholder image">
          <h2>MicroMark</h2>
          <p>Micro solo nel nome ma grande nelle prestazioni, la MicroMark è una stazione di marcatura laser in classe I compatta, silenziosa e funzionale – installabile su una qualsiasi scrivania – sicura e...</p>
          <p><a class="btn btn-default" href="#">Continua... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="./img/roto.jpg" data-src="./img/roto.jpg/140x140" alt="Generic placeholder image">
          <h2>RotoMark-X</h2>
          <p>Unica nel suo genere la RotoMark-X è la prima macchina che unisce il vantaggio del carico/scarico in tempo mascherato - proprio della tavola indicizzata - con un sistema di movimento del laser lungo l’asse X.</p>
          <p><a class="btn btn-default" href="#">Continua... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
          <img class="img-circle" src="./img/tower.jpg" data-src=".img/tower.jpg/140x140" alt="Generic placeholder image">
          <h2>TowerMark</h2>
          <p>Semplice e robusta la TowerMark può essere utilizzata sia in modo manuale che in combinazione con un robot per il carico/scarico. Tutti i componenti sono alloggiati nella struttura...</p>
          <p><a class="btn btn-default" href="#">Continua... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="./img/mini.jpg" data-src="./img/mini.jpg/140x140" alt="Generic placeholder image">
          <h2>MiniMark</h2>
          <p>Mini solo nel nome ma grande nelle prestazioni, la MiniMark è una stazione di marcatura laser in classe I compatta, silenziosa e funzionale – installabile su una qualsiasi scrivania – sicura e...</p>
          <p><a class="btn btn-default" href="#">Continua... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="./img/13b.jpg" data-src="./img/13b.jpg/140x140" alt="Generic placeholder image">
          <h2>Altro</h2>
          <p>Mini solo nel nome ma grande nelle prestazioni, la MiniMark è una stazione di marcatura laser in classe I compatta, silenziosa e funzionale – installabile su una qualsiasi scrivania – sicura e...</p>
          <p><a class="btn btn-default" href="#">Continua... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
